# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# Configure gmaps
# gmaps.configure(api_key=g_key)

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [4]:
# Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kirando,TZ,83.26,scattered clouds,-7.4167,30.6000,"Lake Shore Lodge, Tanganyika"
1,3,Saint-Joseph,RE,78.10,clear sky,-21.3667,55.6167,"""Plantation Bed and Breakfast"
2,6,Salalah,OM,83.70,scattered clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
3,7,Caravelas,BR,75.58,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes
4,8,Kampot,KH,86.05,overcast clouds,10.6167,104.1833,Two Moons Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [5]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [6]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [13]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.
# vacation_start = vacation_df.loc[(vacation_df['City'] == 'Puerto Suarez')]
# vacation_end = vacation_df.loc[(vacation_df['City'] == 'Puerto Suarez')]
# vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Santa Cruz')]
# vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Tambopata')]
# vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'Simplicio Mendes')]
# vacation_stop3
vacation_start = vacation_df.loc[vacation_df["City"] == "Kirando"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Saint-Joseph"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Salalah"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Caravelas"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Kampot"] 
# Four DataFrames: 
# 1. vacation_start and vacation_end have same list
# 2. vacation_stop1
# 3. vacation_stop2
# 4. vacation_stop3

# Display 1st DataFrame
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kirando,TZ,83.26,scattered clouds,-7.4167,30.6000,"Lake Shore Lodge, Tanganyika"
1,3,Saint-Joseph,RE,78.10,clear sky,-21.3667,55.6167,"""Plantation Bed and Breakfast"
2,6,Salalah,OM,83.70,scattered clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
3,7,Caravelas,BR,75.58,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes
4,8,Kampot,KH,86.05,overcast clouds,10.6167,104.1833,Two Moons Hotel
...,...,...,...,...,...,...,...,...
219,671,Praya,CV,77.54,few clouds,14.9215,-23.5087,LT Aparthotel
220,673,Tahta,EG,83.57,clear sky,26.7693,31.5021,فندق الزيات
221,675,Bengkulu,ID,75.79,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
222,678,Trincomalee,LK,82.60,few clouds,8.5711,81.2335,Welcombe Hotel
223,682,Kiunga,PG,75.02,overcast clouds,-6.1219,141.2906,Airport Lodge Kiunga

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [15]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [9]:
# numpy.__version__

NameError: name 'numpy' is not defined

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [16]:
# Define a new figure object
fig = gmaps.figure()

# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

# Add the layer to the map

fig.add_layer(vacation_itinerary)

# Display the map

fig

Figure(layout=FigureLayout(height='420px'))

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [17]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Kirando,TZ,83.26,scattered clouds,-7.4167,30.6000,"Lake Shore Lodge, Tanganyika"
1,6,Salalah,OM,83.70,scattered clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
2,7,Caravelas,BR,75.58,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes
3,8,Kampot,KH,86.05,overcast clouds,10.6167,104.1833,Two Moons Hotel

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [18]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [19]:
# Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))